// Navigation code here
.top{
    
    .top-style;
    
    h1{
       
        justify-content: center;
    
    }
    nav{
    
        // display: flex;
        // justify-content: center;

        margin: 1rem;
        a{
            text-decoration: none;
            color: @shuttle-gray;
            font-size: 1.4rem;
            margin: 1.5rem;
            //stretch stuff
            position:relative;
            transition:3s all ease;


        }
        a:hover{
            transform:scale(3);
        }
    }

}
